@model IEnumerable<CardiologicalResearch.Models.Measurement>

@{
    ViewBag.Title = "StaticTable";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-2.2.3.js"></script>

@{
    string CustomText = "Таблица данных";
    string CustomTextEmpty = "Таблица данных пуста";

    string FillInTable = "Редактировать данные";
    string FillInTableEmpty = "Заполнить таблицу";

    string rowClass;
    string ViewToChange = "DataTable ";

}

@section featured {
    <section class="featured">
    </section>
}

<link href="~/Content/TestsStyle.css" rel="stylesheet" />

<section class="content">


<div id="dataTargetField">

    <h1 class="page-header">Тестирование</h1>
    <h1 class="page-header ph2">Данные для тестирования</h1>
    @if (Model.Count() == 0)
    {<text><h2 class="h2 dataTable" >@CustomTextEmpty</h2>
    <p class="center">
    @Html.ActionLink(@FillInTableEmpty, "Create", null, new { @class = "btn dangerBtn" })
        </p>
    </text>
      
    }
    else
    {<text>



    <h2 class="h2 dataTable">@CustomText</h2>


     
    @Html.ActionLink(@FillInTable, "Create", null, new { @class = "btn warningBtn" })
   
        @*Html.ActionLink("Изменить данные", "Update", null, new { @class = "btn warningBtn" })*@



    <table class="table table-bordered table-hover table-striped">
        <tr style="background-color: #36A2EB">
            <th>
                @*Html.DisplayNameFor(model => model.ParameterId)*@
                Название показателя
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.Value)*@
                Значение показателя
            </th>
            <th>
                Детали
            </th>
        </tr>

        @foreach (var item in Model)
{
    if (String.IsNullOrEmpty(item.Value)) {rowClass="warning"; }
    else { rowClass = "info"; }
    <tr class=@rowClass>
        <td>
            @Html.DisplayFor(modelItem => item.ParameterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            
            @Ajax.ActionLink("Описание",
  "Details", new { id = item.MeasurementId },
         new AjaxOptions
         {
             //UpdateTargetId = "dataTableTargetField",
             //InsertionMode = InsertionMode.Replace,
             HttpMethod = "get",
             OnSuccess = "asuccess(data)"
         })
</tr>
}

    </table>

    <div id="myModal" class="modal fade" data-id=item.DataId; role="dialog" aria-labelledby="myModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        function asuccess(data) {
            $('.modal-content').html(data); $('#myModal').modal('show');
        }
    </script>

    <p class="center">
        <br />
        @Html.ActionLink("Пройти тестирование по таблице данных", "Index", "ExaminationResult", null, new { @class = "btn dangerBtn" })
    </p>

    </text>}

   



</div>
    </section>
