@{
    ViewBag.Title = "AboutResearch";
}
<link href="~/Content/ResearchStyle.css" rel="stylesheet" />

@section featured {
    <section class="featured">

    </section>
}


@{
    int idDispancerization = 1;
    int idScrining = 2;
    int idSCORE = 3;
    int idAntiHypertenzia = 4;
    int idStatines = 5;
    int idTriglicerides = 6;
    int idGlucose = 7;
    int idHCLVP = 8;
    int idMVS = 9;
   
}



<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/ResearchStyle.css" rel="stylesheet" />
<section class="about" id="details">
    <h1 class="page-header">Актуальность задачи </h1>
    <p class="h1 research">
        Когда начинается коронарный атеросклероз?
    </p>
    <p>
        К настоящему времени накоплено большое количество данных, свидетельствующих о том, что атеросклероз начинает развиваться в раннем возрасте. Было установлено, что распространенность атеросклероза прогрессивно увеличивается с возрастом. В возрасте 13-19 лет признаки атеросклероза были выявлены в 17% случаев, а к возрасту 40 лет по крайней мере одно атеросклеротическое поражение имелось более чем у 70% пациентов. Приведенные данные демонстрируют высокую частоту встречаемости коронарного атеросклероза. Он может даже развиться в сравнительном молодом возрасте, требуя агрессивного вмешательства.
        Именно по этим причинам ранняя диагностика и предотвращение данного заболевания является необходимой мерой сохранения жизни и здоровья людей.
    </p>
    <p>
        <img src="../Images/line.png" style="width: inherit; height: 20px;" />
    </p>




    <p class="h1 research">Раннее выявление атеросклероза</p>
    <p>

        Одним из обоснованно эффективных способов снижения инвалидности и смертности от сердечно - сосудистых заболеваний (ССЗ) в Российской Федерации является программа @Html.ActionLink("диспансеризации", "Glossary", "Home", null, null, @idDispancerization.ToString(), null, new {@class="a link"})
        взрослого населения, основным этапом которой является скрининг. Ключевым элементом @Html.ActionLink("скрининга", "Glossary", "Home", null, null, @idScrining.ToString(), null, new { @class = "a link" })
        &nbsp;является расчет суммарного сердечно - сосудистого риска (ССР) фатальных осложнений по шкале @Html.ActionLink("SCORE", "Glossary", "Home", null, null, @idSCORE.ToString(), null, new { @class = "a link" })
        . Несмотря на свою простоту и надежность, данная модель имеет некоторые отрицательные стороны.
    </p>

    <p class="h2 research"> Недостатки модели SCORE:</p>
    <p>
        1.  В стандартной версии оценивает лишь лиц 40-65 лет.


    </p>
    <p>
        2.  Не используется у пациентов с  клиническими проявлениями атеросклероза и сахарным диабетом (СД).
    </p>
    <p>
        3. Не учитывается прием @Html.ActionLink("антигипертензивных средств", "Glossary", "Home", null, null, @idAntiHypertenzia.ToString(), null, new { @class = "a link" })
        , @Html.ActionLink("статинов", "Glossary", "Home", null, null, @idStatines.ToString(), null, new { @class = "a link" })
        .
    </p>
    <p>
        4. Не учитывается уровень @Html.ActionLink("триглицеридов", "Glossary", "Home", null, null, @idTriglicerides.ToString(), null, new { @class = "a link" })
        , @Html.ActionLink("глюкозы", "Glossary", "Home", null, null, @idGlucose.ToString(), null, new { @class = "a link" })
        .


    </p>
    <p>
        5. Не учитывается значение уровня защитного @Html.ActionLink("Хс-ЛВП", "Glossary", "Home", null, null, @idHCLVP.ToString(), null, new { @class = "a link" })
        .
    </p>
    <p>
        6.  Нет физического аналога в виде настольного "медицинского калькулятора".
    </p>
    <p>
        <img alt=string.Empty src="../Images/line.png" style="width: inherit; height: 20px;" />
    </p>




    <p class="h1 research">Цель пилотного проекта</p>

    <p>
        Оценка возможностейценка возможностей использования метода компьютерной @Html.ActionLink("многоканальной объемной сфигмографии", "Glossary", "Home", null, null, @idMVS.ToString(), null, new { @class = "a link" }) (МОС) на этапе скрининга взрослого населения для раннего выявления атеросклеротического поражения артерий и более точной оценке сердечно-сосудистого риска.
    </p>
    <p class="h2 research">Прагматические аспекты: </p>
    <p>
        •      Простота применяемой методики
    </p>
    <p>
        •      Низкая стоимость
    </p>
    <p>
        •      Не требуется привлечение врачебного персонала
    </p>
    <p>
        •      Устойчивость к операторским ошибкам
    </p>
    <p>
        •      Высокая пропускная способность
    </p>

    <img alt=string.Empty src="../Images/line.png" style="width: inherit; height: 20px" />


    <p class="h1 research">Многоканальная объемная сфигмография</p>
    <p>Многоканальная объемная сфигмография превосходит по информтивности обычное измерение АД на одной руке, по крайней мере, по причине сложности измерения офисного давления. В настоящий момент в рамках крупных исследований, проведенных в Европе, США, странах Азии, доказана целесообразность регистрации уровня АД на двух руках или ногах, поскольку асимметрия этого показателя на конечностях более 10-15 мм рт.ст. служит весомым признаком нарушения артериального кровотока в первую очередь за счет значимого атеросклероза, а также является независимым предиктором неблагоприятного прогноза. </p>
    <img alt=string.Empty src="../Images/line.png" style="width: inherit; height: 20px;" />
</section>
